In [19]:
import pandas as pd
import re

In [2]:
def remove_special_characters(df, columns, country, gender, name):
    """
    Remove special characters and text inside square brackets from specified columns in a DataFrame.

    Parameters:
    df (pd.DataFrame): The input DataFrame.
    columns (list): List of column names to clean.

    Returns:
    pd.DataFrame: A new DataFrame with cleaned columns.
    """
    df_cleaned = df.copy()

    for col in columns:
        if col in df_cleaned.columns:
            df_cleaned[col] = (
                df_cleaned[col]
                .astype(str)
                .apply(
                    lambda x: re.sub(r"\[.*?\]", "", x)
                )  # Remove text inside brackets
                .apply(lambda x: re.sub(r"[^\w\s]", "", x))  # Remove special characters
                .str.strip()  # Remove extra spaces
            )
    if "No." in df_cleaned.columns:
        df_cleaned = df_cleaned.drop(columns=["No."])
    df_cleaned["country"] = country
    df_cleaned["gender"] = gender
    df_cleaned["name"] = name
    return df_cleaned

In [3]:
don_bradman = remove_special_characters(
    pd.read_html(
        "https://en.wikipedia.org/wiki/List_of_international_cricket_centuries_by_Don_Bradman"
    )[3],
    ["Score", "Result"],
    "Australia",
    "Male",
    "Don Bradman",
)
don_bradman["Format"] = "Test"
don_bradman = don_bradman[
    [
        "Score",
        "Against",
        "Venue",
        "Date",
        "country",
        "gender",
        "name",
        "Format",
    ]
]

In [4]:
meg_Lanning = pd.read_html("https://en.wikipedia.org/wiki/Meg_Lanning")
meg_Lanning[3] = meg_Lanning[3].iloc[:, :-1]
meg_Lanning[4] = meg_Lanning[4].iloc[:, :-1]
meg_Lanning[3].columns = meg_Lanning[3].columns.droplevel(0)
meg_Lanning[3]["Format"] = "T20I"

meg_Lanning[4].columns = meg_Lanning[4].columns.droplevel(0)
meg_Lanning[4]["Format"] = "ODI"

meg_Lanning = remove_special_characters(
    pd.concat([meg_Lanning[3], meg_Lanning[4]], ignore_index=True),
    ["Score", "Year"],
    "Australia",
    "Female",
    "Meg Lanning",
)
meg_Lanning = meg_Lanning[["Score", "Opponents", "Venue", "Year", "Format", "country", "gender", "name"]].rename(
    columns={
        "Opponents": "Against",
        "Year": "Date",
    }
)

In [5]:
joe_root = pd.read_html(
    "https://en.wikipedia.org/wiki/List_of_international_cricket_centuries_by_Joe_Root"
)

joe_root[1].drop(["S/R", "Ref"], inplace=True, axis=1)
joe_root[1]["Format"] = "ODI"

joe_root[0].drop(["Test", "Ref"], inplace=True, axis=1)
joe_root[0]["Format"] = "Test"

joe_root = remove_special_characters(
    pd.concat([joe_root[0], joe_root[1]], ignore_index=True),
    ["Score"],
    "England",
    "Male",
    "Joe Root",
)
joe_root = joe_root[
    ["Score", "Against", "Venue", "Date", "Format", "country", "gender", "name"]
]

In [6]:
charlotte_edwards = {
    "Format": [
        "Test",
        "Test",
        "Test",
        "Test",
        "ODI",
        "ODI",
        "ODI",
        "ODI",
        "ODI",
        "ODI",
        "ODI",
        "ODI",
        "ODI",
    ],
    "Score": [108, 117, 105, 114, 102, 173, 139, 138, 137, 109, 106, 108, 108],
    "Against": [
        "India",
        "New Zealand",
        "Australia",
        "Australia",
        "South Africa",
        "Ireland",
        "Netherlands",
        "South Africa",
        "New Zealand",
        "India",
        "New Zealand",
        "India",
        "India",
    ],
    "Date": [
        "July 1999",
        "August 2004",
        "August 2005",
        "February 2008",
        "August 1997",
        "December 1997",
        "July 1999",
        "October 2011",
        "March 2012",
        "February 2013",
        "February 2013",
        "August 2014",
        "August 2014",
    ],
    "Venue": [
        "Shenley",
        "Nottingham",
        "Worcester",
        "Sydney",
        "Taunton",
        "Women's World Cup, Pune",
        "Amstelveen",
        "Potchefstroom",
        "Lincoln",
        "Mumbai (Women's World Cup)",
        "Mumbai (Women's World Cup)",
        "Scarborough",
        "Scarborough",
    ],
}

# Creating DataFrame
charlotte_edwards = pd.DataFrame(charlotte_edwards)
charlotte_edwards["name"] = "Charlotte Edwards"
charlotte_edwards["gender"] = "Female"
charlotte_edwards["country"] = "England"

In [7]:
sachin_tendulkar = pd.read_html(
    "https://en.wikipedia.org/wiki/List_of_international_cricket_centuries_by_Sachin_Tendulkar"
)

sachin_tendulkar[3].drop(["S/R", "Ref", "H/A/N"], inplace=True, axis=1)
sachin_tendulkar[3]["Format"] = "ODI"

sachin_tendulkar[2].drop(["Test", "Ref", "H/A"], inplace=True, axis=1)
sachin_tendulkar[2]["Format"] = "Test"

sachin_tendulkar = remove_special_characters(
    pd.concat([sachin_tendulkar[3], sachin_tendulkar[2]], ignore_index=True),
    ["Score"],
    "India",
    "Male",
    "Sachin Tendulkar",
)
sachin_tendulkar = sachin_tendulkar[
    ["Score", "Against", "Venue", "Date", "Format", "country", "gender", "name"]
]

In [8]:
mithali_data = {
    "Format": ["Test", "ODI", "ODI", "ODI", "ODI", "ODI", "ODI", "ODI"],
    "Score": [214, 114, 108, 109, 103, 104, 109, 125],
    "Against": [
        "England",
        "Ireland",
        "Sri Lanka",
        "West Indies",
        "Pakistan",
        "Sri Lanka",
        "New Zealand",
        "Australia",
    ],
    "Date": [
        "August 2002",
        "June 26, 1999",
        "January 4, 2006",
        "March 1, 2011",
        "February 7, 2013",
        "January 19, 2014",
        "July 15, 2017",
        "March 12, 2018",
    ],
    "Venue": [
        "Taunton",
        "Milton Keynes",
        "Karachi (Women's Asia Cup Final)",
        "Rajkot",
        "Cuttack (Women's World Cup)",
        "Visakhapatnam",
        "Derby (Women's World Cup)",
        "Baroda",
    ],
}

# Creating DataFrame
mithali_df = pd.DataFrame(mithali_data)
mithali_df["name"] = "Mithali Raj"
mithali_df["gender"] = "Female"
mithali_df["country"] = "India"

In [9]:
Jacques_Kallis = pd.read_html(
    "https://en.wikipedia.org/wiki/List_of_international_cricket_centuries_by_Jacques_Kallis"
)

Jacques_Kallis[2].drop(["S/R", "Ref"], inplace=True, axis=1)
Jacques_Kallis[2]["Format"] = "ODI"

Jacques_Kallis[1].drop(["Test", "Ref"], inplace=True, axis=1)
Jacques_Kallis[1]["Format"] = "Test"

Jacques_Kallis = remove_special_characters(
    pd.concat([Jacques_Kallis[1], Jacques_Kallis[2]], ignore_index=True),
    ["Score"],
    "South Africa",
    "Male",
    "Jacques Kallis",
)
Jacques_Kallis = Jacques_Kallis[
    ["Score", "Against", "Venue", "Date", "Format", "country", "gender", "name"]
]

In [10]:
wolvaardt_data = {
    "Format": ["Test", "ODI", "ODI", "ODI", "ODI", "ODI", "ODI", "ODI", "T20I"],
    "Score": [122, 105, 149, 117, 124, 126, 110, 184, 102],
    "Against": [
        "India",
        "Ireland",
        "Ireland",
        "West Indies",
        "New Zealand",
        "Bangladesh",
        "Sri Lanka",
        "Sri Lanka",
        "Sri Lanka",
    ],
    "Date": [
        "July 1, 2024",
        "August 9, 2016",
        "May 2017",
        "January 2022",
        "March 2023",
        "May 2023",
        "March 2024",
        "April 2024",
        "March 27, 2024",
    ],
    "Venue": [
        "M.A. Chidambaram Stadium, Chennai",
        "The Village, Dublin",
        "Senwes Park, Potchefstroom",
        "Wanderers Stadium, Johannesburg",
        "City Oval, Pietermaritzburg",
        "Willowmoore Park, Benoni",
        "Diamond Oval, Kimberley",
        "Diamond Oval, Kimberley",
        "Willowmoore Park, Benoni",
    ],
}

# Creating DataFrame
wolvaardt_df = pd.DataFrame(wolvaardt_data)
wolvaardt_df["name"] = "Laura Wolvaardt"
wolvaardt_df["gender"] = "Female"
wolvaardt_df["country"] = "South Africa"

In [11]:
Kane_Williamson = pd.read_html(
    "https://en.wikipedia.org/wiki/List_of_international_cricket_centuries_by_Kane_Williamson"
)

Kane_Williamson[1].drop(["S/R", "Ref"], inplace=True, axis=1)
Kane_Williamson[1]["Format"] = "ODI"

Kane_Williamson[0].drop(["Test", "Ref"], inplace=True, axis=1)
Kane_Williamson[0]["Format"] = "Test"

Kane_Williamson = remove_special_characters(
    pd.concat([Kane_Williamson[0], Kane_Williamson[1]], ignore_index=True),
    ["Score"],
    "New Zealand",
    "Male",
    "Kane Williamson",
)
Kane_Williamson = Kane_Williamson[
    ["Score", "Against", "Venue", "Date", "Format", "country", "gender", "name"]
]

In [12]:
Suzie_Bates = remove_special_characters(
    pd.read_html("https://en.wikipedia.org/wiki/Suzie_Bates")[3],
    ["Runs", "Year"],
    "New Zealand",
    "Female",
    "Suzie Bates",
)
Suzie_Bates["Format"] = "ODI"
Suzie_Bates = Suzie_Bates[
    ["Runs", "Opponents", "Venue", "Year", "Format", "country", "gender", "name"]
].rename(
    columns={
        "Runs": "Score",
        "Opponents": "Against",
        "Year": "Date"
    }
)

In [13]:
Brian_Lara = pd.read_html(
    "https://en.wikipedia.org/wiki/List_of_international_cricket_centuries_by_Brian_Lara"
)

Brian_Lara[3].drop(["S.R.", "H/A/N"], inplace=True, axis=1)
Brian_Lara[3]["Format"] = "ODI"

Brian_Lara[2].drop(["Test", "H/A"], inplace=True, axis=1)
Brian_Lara[2]["Format"] = "Test"

Brian_Lara = remove_special_characters(
    pd.concat([Brian_Lara[2], Brian_Lara[3]], ignore_index=True),
    ["Score", "Result"],
    "West Indies",
    "Male",
    "Brian Lara",
)
Brian_Lara = Brian_Lara[
    ["Score", "Against", "Venue", "Date", "Format", "country", "gender", "name"]
]

In [14]:
Hayley_Matthews = pd.read_html("https://en.wikipedia.org/wiki/Hayley_Matthews")

Hayley_Matthews[2]["Format"] = "ODI"

Hayley_Matthews[3]["Format"] = "Test"

Hayley_Matthews = remove_special_characters(
    pd.concat([Hayley_Matthews[2], Hayley_Matthews[3]], ignore_index=True),
    ["Runs", "Year"],
    "West Indies",
    "Female",
    "Hayley Matthews",
)
Hayley_Matthews = Hayley_Matthews[
    ["Runs", "Opponents", "Venue", "Year", "Format", "country", "gender", "name"]
].rename(columns={"Runs": "Score", "Opponents": "Against", "Year": "Date"})

In [15]:
data = [
    # Test Centuries
    [
        101,
        "India",
        "Zohur Ahmed Chowdhury Stadium, Chattogram",
        "17 January 2010",
        "Test",
    ],
    [
        200,
        "Sri Lanka",
        "Galle International Stadium, Galle",
        "8 March 2013",
        "Test",
    ],
    [
        116,
        "West Indies",
        "Arnos Vale Stadium, Kingstown",
        "5 September 2014",
        "Test",
    ],
    [
        159,
        "New Zealand",
        "Basin Reserve, Wellington",
        "12 January 2017",
        "Test",
    ],
    [
        127,
        "India",
        "Rajiv Gandhi International Stadium, Hyderabad",
        "9 February 2017",
        "Test",
    ],
    [
        219,
        "Zimbabwe",
        "Sher-e-Bangla National Stadium, Dhaka",
        "11 November 2018",
        "Test",
    ],
    [
        203,
        "Zimbabwe",
        "Sher-e-Bangla National Stadium, Dhaka",
        "22 February 2020",
        "Test",
    ],
    [
        105,
        "Sri Lanka",
        "Zohur Ahmed Chowdhury Stadium, Chattogram",
        "15 May 2022",
        "Test",
    ],
    [
        175,
        "Sri Lanka",
        "Sher-e-Bangla National Stadium, Dhaka",
        "23 May 2022",
        "Test",
    ],
    [
        126,
        "Ireland",
        "Sher-e-Bangla National Stadium, Dhaka",
        "4 April 2023",
        "Test",
    ],
    [
        191,
        "Pakistan",
        "Rawalpindi Cricket Stadium, Rawalpindi",
        "21 August 2024",
        "Test",
    ],
    # ODI Centuries
    [
        101,
        "Zimbabwe",
        "Harare Sports Club, Harare",
        "16 August 2011",
        "ODI",
    ],
    [
        117,
        "India",
        "Khan Shaheb Osman Ali Stadium, Fatullah",
        "26 February 2014",
        "ODI",
    ],
    [
        106,
        "Pakistan",
        "Sher-e-Bangla National Cricket Stadium, Dhaka",
        "17 April 2015",
        "ODI",
    ],
    [
        107,
        "Zimbabwe",
        "Sher-e-Bangla National Cricket Stadium, Dhaka",
        "7 November 2015",
        "ODI",
    ],
    [
        110,
        "South Africa",
        "De Beers Diamond Oval, Kimberly",
        "15 October 2017",
        "ODI",
    ],
    [
        144,
        "Sri Lanka",
        "Dubai International Cricket Stadium, Dubai",
        "15 September 2018",
        "ODI",
    ],
    [
        102,
        "Australia",
        "Trent Bridge, Nottingham",
        "20 June 2019",
        "ODI",
    ],
    [
        125,
        "Sri Lanka",
        "Sher-e-Bangla National Cricket Stadium, Dhaka",
        "25 May 2021",
        "ODI",
    ],
    [
        100,
        "Ireland",
        "Sylhet International Cricket Stadium, Sylhet",
        "20 March 2023",
        "ODI",
    ],
]

columns = ["Score", "Against", "Venue", "Date", "Format"]

# Creating the DataFrame
mushfiqur_rahim = pd.DataFrame(data, columns=columns)
mushfiqur_rahim["name"] = "Mushfiqur Rahim"
mushfiqur_rahim["gender"] = "Male"
mushfiqur_rahim["country"] = "Bangladesh"

In [16]:
data = {
    "Date": ["December 2019", "July 22, 2023"],
    "Format": ["T20I", "ODI"],
    "Against": ["Maldives", "India"],
    "Score": [110, 107],
    "Venue": ["South Asian Games 2019", "Bangladesh vs India Women's ODI Series 2023"],
}

Fargana_Hoque = pd.DataFrame(data)
Fargana_Hoque["name"] = "Fargana Hoque"
Fargana_Hoque["gender"] = "Female"
Fargana_Hoque["country"] = "Bangladesh"

In [17]:
Kumar_Sangakkara = pd.read_html(
    "https://en.wikipedia.org/wiki/List_of_international_cricket_centuries_by_Kumar_Sangakkara"
)

Kumar_Sangakkara[2].drop(["SR", "Ref"], inplace=True, axis=1)
Kumar_Sangakkara[2]["Format"] = "ODI"

Kumar_Sangakkara[1].drop(["Test", "Ref"], inplace=True, axis=1)
Kumar_Sangakkara[1]["Format"] = "Test"

Kumar_Sangakkara = remove_special_characters(
    pd.concat([Kumar_Sangakkara[2], Kumar_Sangakkara[1]], ignore_index=True),
    ["Score"],
    "Sri Lanka",
    "Male",
    "Kumar Sangakkara",
)
Kumar_Sangakkara = Kumar_Sangakkara[
    ["Score", "Against", "Venue", "Date", "Format", "country", "gender", "name"]
]

In [18]:
Chamari_Athapaththu = pd.read_html("https://en.wikipedia.org/wiki/Chamari_Athapaththu")

Chamari_Athapaththu[4] = Chamari_Athapaththu[4].iloc[:, :-1]
Chamari_Athapaththu[5] = Chamari_Athapaththu[5].iloc[:, :-1]

Chamari_Athapaththu[4].columns = Chamari_Athapaththu[4].columns.droplevel(0)
Chamari_Athapaththu[4]["Format"] = "ODI"

Chamari_Athapaththu[5].columns = Chamari_Athapaththu[5].columns.droplevel(0)
Chamari_Athapaththu[5]["Format"] = "T20T"

Chamari_Athapaththu = remove_special_characters(
    pd.concat([Chamari_Athapaththu[5], Chamari_Athapaththu[4]], ignore_index=True),
    ["Runs", "Year"],
    "Sri Lanka",
    "Female",
    "Chamari Athapaththu",
)
Chamari_Athapaththu = Chamari_Athapaththu[
    ["Runs", "Opponents", "Ground", "Year", "Format", "country", "gender", "name"]
].rename(columns={"Runs": "Score", "Opponents": "Against", "Year": "Date", "Ground": "Venue"})

In [19]:
Inzamam = pd.read_html(
    "https://en.wikipedia.org/wiki/List_of_international_cricket_centuries_by_Inzamam-ul-Haq"
)

Inzamam[2].drop(["S/R", "Ref"], inplace=True, axis=1)
Inzamam[2]["Format"] = "ODI"

Inzamam[1].drop(["S/R", "Ref"], inplace=True, axis=1)
Inzamam[1]["Format"] = "Test"

Inzamam = remove_special_characters(
    pd.concat([Inzamam[2], Inzamam[1]], ignore_index=True),
    ["Score"],
    "Pakistan",
    "Male",
    "Inzamam-ul-Haq",
)
Inzamam = Inzamam[
    ["Score", "Against", "Venue", "Date", "Format", "country", "gender", "name"]
]

In [20]:
data = {
    "Date": ["2015-03-11", "2018-03-20"],
    "Against": ["Sri Lanka", "Sri Lanka"],
    "Venue": ["Sharjah Cricket Stadium", "Dambulla"],
    "Score": [133, 113],
}

Javeria_Khan = pd.DataFrame(data)
Javeria_Khan["Format"] = "ODI"
Javeria_Khan["name"] = "Javeria Khan"
Javeria_Khan["gender"] = "Female"
Javeria_Khan["country"] = "Pakistan"

In [21]:
Paul_Stirling = pd.DataFrame(
    {
        "Date": [
            "2010-09-07",
            "2011-03-18",
            "2011-05-30",
            "2020-08-04",
            "2021-01-10",
            "2021-01-24",
            "2021-01-26",
            "2021-09-01",
            "2023-04-25",
        ],
        "Against": [
            "Canada",
            "Netherlands",
            "Pakistan",
            "England",
            "UAE",
            "Afghanistan",
            "Afghanistan",
            "Zimbabwe",
            "Sri Lanka",
        ],
        "Format": ["ODI", "ODI", "ODI", "ODI", "ODI", "ODI", "ODI", "T20I", "Test"],
        "Score": [177, 101, 109, 142, 131, 128, 118, 115, 103],
        "Venue": [
            "Toronto",
            "Kolkata",
            "Belfast",
            "Southampton",
            "Abu Dhabi",
            "Abu Dhabi",
            "Abu Dhabi",
            "Bready",
            "Galle",
        ],
    }
)
Paul_Stirling["name"] = "Paul Stirling"
Paul_Stirling["gender"] = "Male"
Paul_Stirling["country"] = "Ireland"

In [22]:
gaby_lewis = pd.DataFrame(
    {
        "Date": ["2021-08-26", "2024-08-13"],
        "Against": ["Germany", "Sri Lanka"],
        "Format": ["WT20I", "WT20I"],
        "Score": [105, 119],
        "Venue": ["La Manga", "Colombo"],
    }
)
gaby_lewis["name"] = "Gaby Lewis"
gaby_lewis["gender"] = "Female"
gaby_lewis["country"] = "Ireland"

In [23]:
gaby_lewis

         Date    Against Format  Score     Venue        name  gender  country
0  2021-08-26    Germany  WT20I    105  La Manga  Gaby Lewis  Female  Ireland
1  2024-08-13  Sri Lanka  WT20I    119   Colombo  Gaby Lewis  Female  Ireland

In [24]:
merged_Data = pd.concat(
    [
        don_bradman,
        meg_Lanning,
        joe_root,
        charlotte_edwards,
        sachin_tendulkar,
        mithali_df,
        Jacques_Kallis,
        wolvaardt_df,
        Kane_Williamson,
        Suzie_Bates,
        Brian_Lara,
        Hayley_Matthews,
        mushfiqur_rahim,
        Fargana_Hoque,
        Kumar_Sangakkara,
        Chamari_Athapaththu,
        Inzamam,
        Javeria_Khan,
        Paul_Stirling,
        gaby_lewis,
    ],
    ignore_index=True,
)

In [27]:
merged_Data.to_excel("processed_data.xlsx")

Personal Info preparation

In [20]:

data = [
    [
        "Don Bradman",
        "Australia",
        None,
        None,
        "27 Aug 1908",
        "Cootamundra, Australia",
        "5'8\"",
        "Married",
        "Yes",
        "https://t3.ftcdn.net/jpg/10/54/63/12/360_F_1054631254_cVq2WEOjGmmXQLK351LnZVGEqfJrzaMf.jpg",
        "https://upload.wikimedia.org/wikipedia/commons/thumb/d/d8/Don_Bradman_1930.jpg/330px-Don_Bradman_1930.jpg",
    ],
    [
        "Meg Lanning",
        "Australia",
        "Sue Lanning",
        "Wayne Lanning",
        "25 Mar 1992",
        "Singapore",
        "5'7\"",
        "Unmarried",
        "Yes",
        "https://t3.ftcdn.net/jpg/10/54/63/12/360_F_1054631254_cVq2WEOjGmmXQLK351LnZVGEqfJrzaMf.jpg",
        "https://upload.wikimedia.org/wikipedia/commons/thumb/b/b6/2020_ICC_W_T20_WC_A_v_SL_02-24_Lanning_%2806%29.jpg/960px-2020_ICC_W_T20_WC_A_v_SL_02-24_Lanning_%2806%29.jpg",
    ],
    [
        "Joe Root",
        "England",
        "Helen Root",
        "Matt Root",
        "30 Dec 1990",
        "Sheffield, England",
        "6'0\"",
        "Married",
        "No",
        "https://t4.ftcdn.net/jpg/00/73/96/03/360_F_73960308_QF7KzcFIFHFb3HuPMYFIPI25d6m4cCHt.jpg",
        "https://upload.wikimedia.org/wikipedia/commons/thumb/f/f7/Joe_Root_HIP1487_%28cropped%29.jpg/330px-Joe_Root_HIP1487_%28cropped%29.jpg",
    ],
    [
        "Charlotte Edwards",
        "England",
        None,
        "Clive Edwards",
        "17 Dec 1979",
        "Huntingdon, England",
        "5'7\"",
        "Married",
        "Yes",
        "https://t4.ftcdn.net/jpg/00/73/96/03/360_F_73960308_QF7KzcFIFHFb3HuPMYFIPI25d6m4cCHt.jpg",
        "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQWEFmTaocxIykEFB8kbmvHpB7LGlbwnkabbg&s",
    ],
    [
        "Sachin Tendulkar",
        "India",
        "Rajni",
        "Ramesh",
        "24 Apr 1973",
        "Mumbai, India",
        "5'5\"",
        "Married",
        "Yes",
        "https://t4.ftcdn.net/jpg/08/28/77/17/360_F_828771716_naHgw8dAJ70t6rprV1Ms4ZQGkVw8q2mh.jpg",
        "https://upload.wikimedia.org/wikipedia/commons/thumb/3/3e/The_cricket_legend_Sachin_Tendulkar_at_the_Oval_Maidan_in_Mumbai_During_the_Duke_and_Duchess_of_Cambridge_Visit%2826271019082%29.jpg/330px-The_cricket_legend_Sachin_Tendulkar_at_the_Oval_Maidan_in_Mumbai_During_the_Duke_and_Duchess_of_Cambridge_Visit%2826271019082%29.jpg",
    ],
    [
        "Mithali Raj",
        "India",
        "Leela Raj",
        "Dorai Raj",
        "3 Dec 1982",
        "Jodhpur, India",
        "5'4\"",
        "Unmarried",
        "Yes",
        "https://t4.ftcdn.net/jpg/08/28/77/17/360_F_828771716_naHgw8dAJ70t6rprV1Ms4ZQGkVw8q2mh.jpg",
        "https://upload.wikimedia.org/wikipedia/commons/thumb/f/f0/Mithali_Raj_with_Padma_Shri_Award_%28cropped%29.jpg/330px-Mithali_Raj_with_Padma_Shri_Award_%28cropped%29.jpg",
    ],
    [
        "Jacques Kallis",
        "South Africa",
        "Mercia Kallis",
        "Henry Kallis",
        "16 Oct 1975",
        "Cape Town, South Africa",
        "6'1\"",
        "Married",
        "Yes",
        "https://t4.ftcdn.net/jpg/02/10/66/65/360_F_210666541_y2gGA5JihPrDxsr4vWUsBfgvGkz93Ilr.jpg",
        "https://img1.hscicdn.com/image/upload/f_auto,t_ds_square_w_320,q_50/lsci/db/PICTURES/CMS/320300/320358.1.png",
    ],
    [
        "Laura Wolvaardt",
        "South Africa",
        None,
        None,
        "26 Apr 1999",
        "Cape Town, South Africa",
        "5'7\"",
        "Unmarried",
        "No",
        "https://t4.ftcdn.net/jpg/02/10/66/65/360_F_210666541_y2gGA5JihPrDxsr4vWUsBfgvGkz93Ilr.jpg",
        "https://upload.wikimedia.org/wikipedia/commons/thumb/8/87/Laura_Wolvaardt.jpg/330px-Laura_Wolvaardt.jpg",
    ],
    [
        "Kane Williamson",
        "New Zealand",
        "Sandra",
        "Brett",
        "8 Aug 1990",
        "Tauranga, New Zealand",
        "5'8\"",
        "Unmarried",
        "No",
        "https://media.istockphoto.com/id/174177539/photo/new-zealand-flag.jpg?s=612x612&w=0&k=20&c=SOzXXdGLIJTAnCFdgMk09YFQMz-GVY9gLLSISO_PJN8=",
        "https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Kane_Williamson_in_2019.jpg/330px-Kane_Williamson_in_2019.jpg",
    ],
    [
        "Suzie Bates",
        "New Zealand",
        None,
        None,
        "16 Sep 1987",
        "Dunedin, New Zealand",
        "5'8\"",
        "Unmarried",
        "No",
        "https://media.istockphoto.com/id/174177539/photo/new-zealand-flag.jpg?s=612x612&w=0&k=20&c=SOzXXdGLIJTAnCFdgMk09YFQMz-GVY9gLLSISO_PJN8=",
        "https://encrypted-tbn0.gstatic.com/licensed-image?q=tbn:ANd9GcTg6vh44gnP8m_cshwj9yl9py5Vo3gKSjiquBBuy82BFc8twO8ZpLutSPFp0CrSnmRJH7KpcS0PQlUVtjc",
    ],
    [
        "Brian Lara",
        "West Indies",
        "Pearl",
        "Bunty",
        "2 May 1969",
        "Santa Cruz, Trinidad",
        "5'8\"",
        "Married",
        "Yes",
        "https://www.shutterstock.com/shutterstock/videos/1100877487/thumb/1.jpg?ip=x480",
        "https://upload.wikimedia.org/wikipedia/commons/thumb/3/34/Lord%27s_Bicentenary_Anniversary_Match_-_Brian_Lara_%28cropped%29.jpg/330px-Lord%27s_Bicentenary_Anniversary_Match_-_Brian_Lara_%28cropped%29.jpg",
    ],
    [
        "Hayley Matthews",
        "West Indies",
        "Lisa Matthews",
        "Mike Matthews",
        "19 Mar 1998",
        "Bridgetown, Barbados",
        "5'7\"",
        "Unmarried",
        "No",
        "https://www.shutterstock.com/shutterstock/videos/1100877487/thumb/1.jpg?ip=x480",
        "https://upload.wikimedia.org/wikipedia/commons/thumb/0/03/2020_ICC_W_T20_WC_WI_v_T_02-22_Matthews_%2801%29.jpg/330px-2020_ICC_W_T20_WC_WI_v_T_02-22_Matthews_%2801%29.jpg",
    ],
    [
        "Mushfiqur Rahim",
        "Bangladesh",
        "Rahima Khatun",
        "Mahbub Habib",
        "9 May 1987",
        "Bogra, Bangladesh",
        "5'3\"",
        "Married",
        "No",
        "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTdNCGcEbJ7-1Diu9EcIxdGE4zfFAunJYvY9asIPQCKkA_u-tI&s",
        "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT86Np6T82HTkVR-5XXmOmHBS9mYLoZPAi6ng&s",
    ],
    [
        "Fargana Hoque",
        "Bangladesh",
        None,
        None,
        "19 Mar 1993",
        "Gaibandha, Bangladesh",
        "5'3\"",
        "Unmarried",
        "No",
        "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTdNCGcEbJ7-1Diu9EcIxdGE4zfFAunJYvY9asIPQCKkA_u-tI&s",
        "https://upload.wikimedia.org/wikipedia/commons/thumb/0/00/Farzana_Hoque.jpg/330px-Farzana_Hoque.jpg",
    ],
    [
        "Kumar Sangakkara",
        "Sri Lanka",
        "Kumari",
        "Kshema",
        "27 Oct 1977",
        "Matale, Sri Lanka",
        "5'10\"",
        "Married",
        "Yes",
        "https://upload.wikimedia.org/wikipedia/commons/thumb/1/11/Flag_of_Sri_Lanka.svg/1200px-Flag_of_Sri_Lanka.svg.png",
        "https://blackhattalent.com/wp-content/uploads/2023/09/Kumar-Sangakkara1.jpg",
    ],
    [
        "Chamari Athapaththu",
        "Sri Lanka",
        None,
        None,
        "9 Feb 1990",
        "Kurunegala, Sri Lanka",
        "5'5\"",
        "Unmarried",
        "No",
        "https://upload.wikimedia.org/wikipedia/commons/thumb/1/11/Flag_of_Sri_Lanka.svg/1200px-Flag_of_Sri_Lanka.svg.png",
        "https://upload.wikimedia.org/wikipedia/commons/thumb/4/43/2020_ICC_W_T20_WC_NZ_v_SL_02-22_Atapattu_%2809%29.jpg/330px-2020_ICC_W_T20_WC_NZ_v_SL_02-22_Atapattu_%2809%29.jpg",
    ],
    [
        "Inzamam-ul-Haq",
        "Pakistan",
        None,
        "Peerzada",
        "3 Mar 1970",
        "Multan, Pakistan",
        "6'3\"",
        "Married",
        "Yes",
        "https://m.media-amazon.com/images/I/51rbhrc4sFL._AC_UF1000,1000_QL80_.jpg",
        "https://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/Inzamam-ul-Haq.jpg/330px-Inzamam-ul-Haq.jpg",
    ],
    [
        "Javeria Khan",
        "Pakistan",
        None,
        None,
        "14 May 1988",
        "Karachi, Pakistan",
        "5'3\"",
        "Married",
        "No",
        "https://m.media-amazon.com/images/I/51rbhrc4sFL._AC_UF1000,1000_QL80_.jpg",
        "https://encrypted-tbn1.gstatic.com/licensed-image?q=tbn:ANd9GcSkePhO7PElvBf8pw_Q3frAaTt0fuAIxZbsmkFewHCZOg2lBHutB19JyOvfWvf8WkC1vIec-DMfeMRUytQ",
    ],
    [
        "Paul Stirling",
        "Ireland",
        None,
        None,
        "3 Sep 1990",
        "Belfast, Northern Ireland",
        "5'9\"",
        "Unmarried",
        "No",
        "https://upload.wikimedia.org/wikipedia/commons/thumb/4/45/Flag_of_Ireland.svg/1200px-Flag_of_Ireland.svg.png",
        "https://upload.wikimedia.org/wikipedia/commons/thumb/3/31/Paul_Stirling.jpg/330px-Paul_Stirling.jpg",
    ],
    [
        "Gaby Lewis",
        "Ireland",
        None,
        "Alan Lewis",
        "27 Mar 2001",
        "Dublin, Ireland",
        "5'5\"",
        "Unmarried",
        "No",
        "https://upload.wikimedia.org/wikipedia/commons/thumb/4/45/Flag_of_Ireland.svg/1200px-Flag_of_Ireland.svg.png",
        "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRQttfBlNF1wbYQPRi1X8GTyEBTNOJepZCq_g&s",
    ],
]

columns = [
    "Name",
    "Country",
    "Mother",
    "Father",
    "DOB",
    "Birth Place",
    "Height",
    "Marital Status",
    "Retired",
    "Flag",
    "Image"
]

personal_data = pd.DataFrame(data, columns=columns)

In [21]:
personal_data.to_excel("personal_data.xlsx")